<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>More info:</strong>
  <%= @club.more_info %>
</p>

<p>
  <strong>String:</strong>
  <%= @club.string %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
